@page
@model SolirisHCP.Pages.HomeModel
@{
}

<div >

    <div class="top">
		<div class="box">
			<img src="/images/Michael.jpg">
		</div>
		<div class="box">
			<img src="images/Jesse.jpg">
		</div>
		<div class="box">
			<img src="images/Rachel.jpg">
		</div>
		<div class="box">
			<img src="images/Ghassan.jpg">
		</div>
	</div>

</div>