html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#footer {
    position: absolute;
    width: 100%;
    height: 5rem; /* Footer height */
}

#footer a {
        background-color: white;
        border-radius: 4px;
        border-color: none;
        margin-right: 24px;
        text-align: center;
        padding: 0px 24px;
}

#footer p {
        color: aliceblue;
}

.container {
    padding: 0px;
    margin: 0px;
}

.wrapper {
    background: url('../images/background.png');
    min-height: 700px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.top {
    background-color: #002f6c;
    width: 90%;
    padding: 20px;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}

    .box img {
        display: block;
        width: 100%;
        border-radius: 5px;
    }

    .box:hover {
        transform: scale(1.3);
        z-index: 2;
    }